/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.content {
  background-color: rgb(1,1,1);
  background-color: rgb(110,110,110,0.9);
  margin: 15% auto; /* 15% from the top and centered */
  padding: calc(var(--spacing) * 4);
  border: 1px solid #888;
  width: calc(var(--width) + calc(var(--spacing) * 8)); /* Could be more or less, depending on screen size */
  height: 50%;
  border-radius: var(--spacing);

  display: flex;
  justify-content: space-between;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
