.header {
  color: var(--secondary-light);
  margin-bottom: calc(var(--spacing) * 2);
}

.subtitle {
  margin: var(--spacing);
  max-width: var(--width);
  text-align: center;
}

.infocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  border: 1px solid var(--secondary-light);
  padding: 4px 8px 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  text-align: center;
  margin-left: 8px;
}

.info:hover,
.info:active {
  color: var(--spoopify);
  border-color: var(--spoopify);
  text-decoration: none;
  cursor: pointer;
}

.songcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing) 0px;
  padding: var(--spacing);
  min-width: calc(var(--width) * 4 / 3 - var(--spacing) * 5);

  border: 1px solid var(--secondary-dark);
  border-radius: 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2) 0;
}

.question {
  font-size: 1.5rem;
  color: var(--secondary-light);
  width: calc(var(--width) / 30 * 4);
  height: calc(var(--width) / 30 * 4);
  margin-right: calc(var(--spacing) * 3);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--secondary-light);
  border-radius: calc(var(--spacing));

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question:hover {
  border-color: var(--primary-main);
  background-color: var(--primary-main);
  color: black;
  cursor: pointer;
}

.question:active {
  border-color: var(--secondary-light);
  background-color: inherit;
  color: var(--secondary-light);
}

.checkmark {
  background-color: black;
  border-color: black;
  color: var(--spoopify);
}

.username {
  color: var(--primary-main);
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--width));
  margin: calc(var(--spacing) * 2) 0;
}

.list {
  text-align: left;
}

.topf {
  color: var(--spoopify);
}
