.percent {
  color: var(--primary-main);
}

.report {
  max-width: var(--width);
  text-align: center;
}

.songcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing) 0px;
  padding: var(--spacing);
  min-width: calc(var(--width) * 4 / 3 - var(--spacing) * 5);

  border: 1px solid var(--secondary-dark);
  border-radius: 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2) 0;
}

.checkmark {
  font-size: 1.5rem;
  color: var(--spoopify);
  width: calc(var(--width) / 30 * 4);
  height: calc(var(--width) / 30 * 4);
  margin-right: calc(var(--spacing) * 3);

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrong {
  font-size: 1.25rem;
  color: var(--secondary-light);
}
