.intro {
  color: var(--secondary-light);
  width: var(--width);
}

.header {
  width: var(--width);
}

.title {
  width: calc(var(--width) - 24px - 16px);
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 16px;
  color: var(--primary-main);
}
.title:focus,
.title:active {
  text-decoration: underline;
}

.infocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 24px;
  height: 24px;
  border: 1px solid var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  margin-right: 8px;
}

.info:hover,
.info:active {
  color: var(--spoopify);
  border-color: var(--spoopify);
  text-decoration: none;
  cursor: pointer;
}

.input {
  padding: calc(var(--spacing) * 2);
  margin: calc(var(--spacing) * 2) 0px calc(var(--spacing) * 8) 0px;
  width: var(--width);
  border-radius: var(--spacing);

  border: 1px solid var(--secondary-light);
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
}

.addbtn {
  color: #ffffff;
  background-color: var(--spoopify);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  margin: var(--spacing);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: var(--spacing);
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.addbtn:hover {
  background-color: #199a46;
  color: #ffffff;
}
.addbtn:active {
  background-color: #22cf5e;
  color: #ffffff;
}

.resultcontainer {
  min-width: var(--width);
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 2);
}

.result {
  flex: 1;
  max-width: calc(var(--width) - 42px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist {
  font-size: smaller;
  color: var(--secondary-light);
}


.rmvbtn {
  color: #ffffff;
  background-color: red;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  margin: var(--spacing);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: var(--spacing);
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rmvbtn:hover {
  background-color: rgb(195, 23, 23);
  color: #ffffff;
}
.rmvbtn:active {
  background-color: rgb(228, 96, 96);
  color: #ffffff;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-dark);
}

.link {
  color: var(--primary-main);
}

.link:hover,
.link:active {
  text-decoration: underline;
}
